<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
</head>


  <body>
    <div class="container">
      <h1 class="register">Rigestration Form</h1>

      <form action="/success"  method="POST" class="form_register">
        <input type="text" placeholder="Enter First Name" value="" name="firstnam" required />
        <input type="text" placeholder="Enter Last Name" value="" name="lastname" required />
        <input type="email" placeholder="Enter Your Email" value="" name="email" required />
        <input type="number" placeholder="Enter Your Age" value="" name="age" required />
        <input type="password" placeholder="Enter Your Password" value="" name="password" required />
        <input type="password" placeholder="Confirm Your Password" value="" name="confirmPassword" required />
        <input type="number" placeholder="Enter Phone Number" value="" name="number" required />
        <div class="btn">
          <button type="submit">Register Now!</button>
        </div>
      </form>
    </div>
  </body>

</html>